extends ../../../../../templates/eyenetAdmin 

block content
    div.ui.container
        div.padl.padd.padb
            div.ui.segment.eheight
                div.ui.top.attached.large.inverted.green.label User Maintenance
                a.button.green.right.floated.ui.basic.button.huge(href="/eyenetAdmin/usertype/new")
                    i.add.icon
                    |&nbsp; Add User Type
                div.paddd
                table.ui.padded.table
                    thead
                        tr.single.line.center.aligned  
                            th Name
                            th.four.wide Actions
                    each user in users
                        tr 
                            td=user.strUserTypeName 
                            td.center.aligned
                                a.item(href=`/eyenetAdmin/usertype/${user.intUserTypeID}`): i.black.big.edit.icon
                                a.item(href=`/eyenetAdmin/usertype/${user.intUserTypeID}/delete`): i.black.big.remove.icon
                            script.
                                {
                                    var eo = document.getElementById("main");
                                    var et = document.getElementById("user");
                                    var ee = document.getElementById("con1");
                                    ee.classList.add("active")
                                    eo.classList.add("active");
                                    et.classList.add("active");
                                }