html
    head
        title Eyenet Training Center
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(src="/sweetalert/dist/sweetalert.min.js")
        script(src="/assets/JQuery/jquery-3.2.1.js")
        script(src="/assets/Semantic-UI-CSS-master/semantic.js")
        link(rel="stylesheet" href="/assets/Semantic-UI-CSS-master/semantic.css")
        link(rel="stylesheet" href="/assets/Semantic-UI-CSS-master/semantic.min.css")
        
        
        
    body
        block body