.jumbotron{
    background-color:#009933;
    border-radius:0px;
}
.display-4{
    color: white;
    font-weight: bolder;
}
.q{
    font-size:50px;
}
.ic{
    color:black;
}
.inqtitle{
    color:white;
    font-size:24px;
}
.det{
    font-size:15px;
}
.icc{
    color:#669966;
}
.bcollapse{
    background-color:#009933;
}
.subt{
    font-size:18px;
    text-decoration: underline;
}