extends ../../../templates/eyenetAdmin
block content
    div.ui.container
        div.padl.padd.padb
            div.ui.segment.eheight
                div.ui.top.attached.massive.inverted.centered.green.label Dashboard
            div.ui.center.aligned.container.padd.Height2
                h1.center.aligned.pright.fontLato.height3 There's Nothing To Display Right Nowx
            script.
                {
                    var eo = document.getElementById("dash");
                    eo.classList.add("active");
                }