extends ../../../templates/eyenetAdmin
block content
    div.ui.container.grid
        div.padl.padd.padb
            div.ui.segment.eheight
                div.ui.top.attached.massive.inverted.centered.green.label Dashboard
            div.ui.center.aligned.container.padd.Height2
                   
                div.ui.three.stackable.cards.mleft
                    div.class.ui.card
                        div.content
                            label.top.attached.ui.large.green.label Signups Statistics  
                        div.content
                            i.center.aligned.huge.circular.users.icon
                        div.extra.content
                            div.ui.statistic
                                div.value 2,220
                                div.label Signups
                    
                    div.class.ui.card
                        div.content
                            label.top.attached.ui.large.green.label Signups Statistics  
                        div.content
                            i.center.aligned.huge.circular.users.icon
                        div.extra.content
                            div.ui.statistic
                                div.value 2,220
                                div.label CyberSec Students
                    div.class.ui.card
                        div.content
                            label.top.attached.ui.large.green.label Signups Statistics  
                        div.content
                            i.center.aligned.huge.circular.users.icon
                        div.extra.content
                            div.ui.statistic
                                div.value 2,220
                                div.label CCNA, Students
                            
                        script.
                            {
                                var eo = document.getElementById("dash");
                                eo.classList.add("active");
                                eo.classList.add("item");
                                
                            }