extends ../../../templates/master.pug

block content
    div.ui.container
        div.ui.sidebar.vertical.left.inverted.menu
            a.active.item(href="") Personal Information
            a.item(href="") Educational Background
            a.item(href="") Functions Attended
            a.item(href="") Faculty Ranking
        div.ui.basic.icon.top.fixed.secondary.pointing.menu
            a#para.item(href="")
                i.sidebar.icon
                    p Menu
        div.dimmed.fixed.pusher
            div.ui.container
                div.ui.segment  
                    p Hi IM JC 
        