extends ../../../templates/master.pug

block content
    div.ui.container
        div.ui.segment.ping.positioning
            div.ui.container
                div.ui.ribbon.label.inverted.black.large
                    h3 Welcome to Faculty Performance Monitoring System 
        div.ui.segment.positioning.ping
                

            
