extends ../../../templates/eyenet

block content
    div.ui.container
        div.padl.padd.padb
            div.ui.segment.eheight
                div.ui.top.attached.large.inverted.green.label Edit Equipment Type 
                    i.large.setting.icon
                div.ui.height2
                    table.ui.celled.padded.table
                        thead
                            tr.single.line.center.aligned 
                                th Name
                                th.three.wide Actions
                        tr
                            th  
                            th.center.aligned
                                a.item(href=""): i.black.big.edit.icon
                                a.item(href=""): i.black.big.remove.icon
                div.ui.right.floated
                    button.ui.button 
                        i.add.icon 
                        P Add Equipment Type