doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='style.css')
    title Equipment-admin-add
  body
    #pointer
      strong
        p.stroke Equipments
    .add
      label1(for='') Equipment Name: 
      input(type='text')
      br
      br
      label1(for='') Equipment Type:
      select
        option(value='') Router
        option(value='') Soon!
        option(value='') Antok
        option(value='') Na ko
      br
      br
      label1(for='') Equipment Quantity: 
      input(type='number')
      br
      br
      label1(for='') Equipment Status: 
      input(type='text')
      br
      br
