doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
  body
    #pointer
      strong
        p.stroke Users
    br
    br
    center
      table(style='width:80%')
        tr
          th(style='width:35%') Name
          th(style='width:15%') Payment Status
          th(style='width:15%') Course
          th(style='width:20%') Course Status
          th(style='width:15%')
        tr
          td
          td
          td
          td
          td
            button.button(href='equipment-admin-edit.html') Edit
            button.button Delete
