extends ../../../templates/eyenet

block content
    div.ui.container
        div.padl.padd.padb
            div.ui.segment.eheight
                div.ui.top.attached.large.inverted.green.label Reservations
                table.ui.celled.padded.table
                    thead
                        tr.single.line.center.aligned 
                            th.one.wide ID 
                            th Name
                            th.one.wide Payment Status
                            th.three.wide Course
                            th.two.wide Course Status
                            th.two.wide Actions
                    tr
                        th
                        th 
                        th
                        th
                        th 
                        th.center.aligned
                            a.item(href=""): i.black.big.edit.icon
                            a.item(href=""): i.black.big.remove.icon