doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
  body
    #pointer
      strong
        p.stroke Reservations
    br
    br
    center
      table(style='width:80%')
        tr
          th(style='width:35%') User ID
          th(style='width:15%') Name
          th(style='width:15%') Course Desired
          th(style='width:20%') Schedule Desired
          th(style='width:15%')
        tr
          td
          td
          td
          td
          td
            button.button(href='reservation-admin-edit.html') Edit
            button.button Delete
