.buttonss{
    
    padding-left: 100px;
    padding-right: 100px;

}

.fsize{
    font-size:100px;
}
.course{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.pcourse{
    font-size:30px;
    text-align: center;
}
.ccna1{
    margin-top:-100px;
}
.ccna2{
    display: block;
    margin-left: auto;
}

/* modal */


/* The Modal (background) */
.modal,
.modal3,
.modal5{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;
}

/* Modal Content */
.modal-content,
.modal-content3,
.modal-content5{
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;

}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;
}

/* Modal Content */
.modal-content4 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal6 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;
}

/* Modal Content */
.modal-content6 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h1{
    font-size: 40pt;
}
p{
    font-size: 18pt;
}
p2{
    font-size: 16pt;
}
p3{
    font-size: 20pt;
}
p4{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
p5{
    font-size: 14pt;
}
.lefty{
    float: left;
    margin: 25px;
}
.righty{
    float: left;
    margin: 25px;
}
.pics{
    z-index: 9;
    width: 200px;
    height: 200px;
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    

}
.a{
    padding-left: 175px; 
}
.b{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}
