<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/Landingmodal.css"/>
<link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/trial.css"/>
<link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/assets2/css/main.css"/>
<link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/assets2/css/ie8.css"/>



<a type="button" data-toggle="modal" data-target="#about" class="foot1">About Us</a>
<div class="container_about">
  <!-- Modal-->
  <div id="about" role="dialog" class="modal fade">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">×</button>
          <h2 class="modal-title">About Us</h2>
        </div>
        <div class="modal-body">
          <h3>KALIMUTAN MO NA YAN</h3>
        </div>
      </div>
    </div>
  </div>
</div>